@import 'normalize.css/normalize.css';

@import url(https://fonts.googleapis.com/css?family=Ovo);
@import url(https://fonts.googleapis.com/css?family=Muli:400,400italic,300,300italic);

body {
  color: #B7B8BF;
  background: #2E334A;
  overflow-x: hidden;
}

Root {
  base: div;

  width: 400px;
  margin: 0 auto;
  padding: 6em 0;
  padding-left: 200px;

  font-family: Muli, sans-serif;
  font-weight: 300;
  font-size: 11pt;
}

Paragraph, OrderedList, UnorderedList, Code {
  margin-bottom: 2em;
  text-align: justify;
}

Emphasis {
  base: em;
  font-style: italic;
}

Strong {
  base: strong;
  font-weight: 400;
}

Link {
  base: a;
  color: #AF9453;
  text-decoration: none;
}
Link:hover {
  text-decoration: underline;
}

Paragraph {
  base: p;

  line-height: 1.4em;
}

OrderedList {
  base: ol;
}

UnorderedList {
  base: ul;
}

InlineCode {
  base: code;
  font-family: Menlo, Monaco, monospace;
  background: #393F5A;
  padding: 0 0.1em;
}

Code {
  base: pre;

  background: #393F5A;
  font-family: Menlo, Monaco, monospace;
  font-size: 9pt;
  padding: 1.5em 0;
  margin-right: -10000px;
  margin-left: -100px;
  padding-left: 100px;
}

Heading {
  base: reactdown/elements?Heading;

  margin-top: 3em;
  margin-bottom: 1em;
  font-family: Ovo, serif;
  color: #8EC9D2;
}

Heading:prop(level == 1) {
  font-size: 3rem;
}

Heading:prop(level == 2) {
  font-size: 1.75rem;
}

Heading:prop(level >=  3) {
  color: #6999A0;
  margin-top: 2em;
  font-size: 1.0rem;
}
